$title-color: #1731a3;
$text-selected-color: #fff8e2;
$btn-color: #ffbb46;
$nav-color: #949497;
$paragraph-color: #9a9a9c;

.dark {
  color: invert($title-color);
  color: invert($text-selected-color);
  color: invert($btn-color);
  color: invert($nav-color);
  color: invert($paragraph-color);
}
