@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Nunito+Sans:wght@300;600&family=Readex+Pro:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  --title-color: #1731a3;
  --text-selected-color: #fff8e2;
  --btn-bgcolor: #ffbb46;
  --btn-color: white;
  --nav-color: #949497;
  --paragraph-color: #9a9a9c;
  --background-color: #e6e9f0;
  --image-name: url("resource/cover_light.svg");
}

.dark {
  --background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  --title-color: #e8ce5c;
  --text-selected-color: #00071d;
  --btn-bgcolor: #0044b9;
  --btn-color: #3aa9af;
  --nav-color: #f1f1f1;
  --paragraph-color: #c5c5c5;
  --background-color: #29323c;
  --image-name: url("./resource/cover_dark.svg");
}

body {
  font-family: "Nunito Sans", sans-serif;
  /* background-color: var(--background-color);
  -webkit-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  transition: background-color 1s linear; */
  background: var(--background);
}

header {
  height: 150px;
  width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
}

.company-logo-wrapper {
  flex: 1;
}
.company-logo {
  width: 150px;
  height: auto;
}

header nav {
  height: 150px;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 30px;
}

header nav li {
  color: var(--nav-color);
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  height: 25px;
  line-height: 0;
  margin: 20px 10px;
  transition: color 1s ease;
}

.nav-selected {
  background-color: var(--btn-bgcolor);
  color: var(--btn-color);
  transition: all 1s ease;
}

.theme-toggle-wrapper {
  position: absolute;
  right: 60px;
  top: 60px;
}

#theme-toggle {
  opacity: 0;
}

label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 33px;
  border-radius: 40px;
  background: linear-gradient(120deg, #cacaca 0%, #c9c9c9 100%);
}

i {
  width: 25px;
  height: 25px;
  position: absolute;
  margin: 5px;
  border-radius: 25px;
  padding-left: 4px;
}

i.fa-moon {
  background: #202330;
  color: #cacaca;
  left: 0;
  top: -1px;
  line-height: 25px;
  opacity: 1;
  transition: visibility 1s, opacity 1s ease-out;
}

i.fa-sun {
  background: #db7153;
  color: #f0c87f;
  right: 0;
  top: -1px;
  line-height: 25px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 3s, opacity 2s ease-out;
}

main {
  width: 80vw;
  height: calc(100vh - 180px);
  margin: auto;
  padding: 30px;
  display: flex;
}

.contents {
  position: relative;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
}

.contents * {
  padding-top: 20px;
}

.contents p {
  color: var(--paragraph-color);
}

.cover-image {
  width: 40vw;
  height: 100%;
}

h1 {
  font-weight: 600;
  font-size: 40pt;
  color: var(--title-color);
  font-family: "Readex Pro", sans-serif;
}

.btn-main-cover {
  background-color: var(--btn-bgcolor);
  color: var(--btn-color);
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  height: 25px;
  line-height: 0;
  margin: 20px 0;
  border: 0;
  cursor: pointer;
}

div.cover-image {
  background-image: var(--image-name);
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* img.cover-image {
  content: var(--image-name);
  object-fit: fill;
} */

footer {
  text-align: center;
  color: var(--title-color);
}
